.apresentacao {
    width: 100%;
    max-width: 85%;
    height: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;

    position: relative;

    order: 1;
    padding: 1rem; 
    margin: 1rem 5rem;

    color: var(--preto);
}

.apresentacao__selfie {
    order: 1;
    position: relative;
    flex: none;
    flex-grow: 0;
    flex-wrap: nowrap;

    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    background-image: url(../assets/suami2.jpeg);
    background-attachment: scroll;
    filter:saturate(0%);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 2rem;

    box-shadow: 10px 10px 15px -3px rgba(0,0,0,0.1);
}

.apresentacao__texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: auto;
    padding: 0 1rem 0 0;
}

.apresentacao__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    line-height: 1.6;
}

.apresentacao__descricao {
    text-align: left;
    font-size: 22px;
    margin: auto;
    padding: 1rem 0;
    line-height: 1.6;
}

.apresentacao__lista {

    list-style: none;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    padding-right: 32px;
}

.apresentacao__item {
    display: flex;
    align-items: flex-end;
    padding-right: 32px;
    
}

.apresentacao__link {
    display: flex;
    justify-content:flex-end;
    text-decoration: none;
    text-transform: none;
    align-items: center;

    color: var(--preto);

    font-weight: 500;

}
