.apresentacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: var(--preto);
}

.apresentacao__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1136px;
}

.apresentacao__selfie {
    width: auto;
    height: auto;
    width: 100%;
    
    border-radius: 100%;
}

.apresentacao__texto {
    display: flex;
    flex-direction: column;
}

.apresentacao__titulo {
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    
}

.apresentacao__descricao {
    text-align: left;
    font-size: 22px;
    line-height: 1.6;
}

.apresentacao__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.apresentacao__seta {
    width: 24px;
    height: 24px;
}

.apresentacao__item {
    display: inline-block;    
}

.apresentacao__link {
    display: flex;
    justify-content:flex-end;
    text-decoration: none;
    text-transform: none;
    align-items: center;
    color: var(--preto);
    font-weight: 500;
    cursor: pointer;
}

.apresentacao__link:hover {
    color: var(--azul);
}


/* MEDIA QUERIE */

@media (max-width: 768px) {
    .apresentacao__selfie {
        width: auto;
        height: auto;
        max-width: 146px;
        max-height: 146px;
    }
    
}

@media (max-width: 360px) {
    .apresentacao__container {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 360px;
        padding: 16px;
        gap: 16px;
    }
    .apresentacao__selfie {
        max-width: 98px;
        max-height: 98px;
    }
    .apresentacao__titulo {
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
    }
    .apresentacao__descricao {
        display: flex;
        justify-content: flex-start;
    }
    .apresentacao__item {
        font-size: 14px;
    }
    .apresentacao__texto {
        max-width: 328px;
        gap: 16px;
    }
    
    .apresentacao__seta {
        width: 16px;
        height: 16px;
    }

}