.cabecalho {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    padding: 32px 0px;
    
    color: var(--preto);
}


.cabecalho__navegacao {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.cabecalho__lista {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0px 0px 0px 60px;
    
    list-style-type: none;

}

.cabecalho__titulo {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;
    padding-right: 10px;

    font-size: 16px;
    font-weight: 600;

    color: var(--preto);

}
.cabecalho__titulo-link {

    text-decoration: none;
    
    color: var(--preto);
    cursor: pointer;
}

.cabecalho__titulo-link:hover {

    color: var(--azul);
}

.cabecalho__item {
    padding-left: 20px;
    font-size: 16px;
    color: var(--preto);
}

.cabecalho__link {

    text-decoration: none;
    text-transform: none;

    color: var(--preto);
    font-weight: 500;

    cursor: pointer;

}

.cabecalho__link:hover {
    
    color: var(--azul);
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
    .cabecalho__item--none {
        display: none;
    }
}

@media (max-width: 480px) {

}

