.cabecalho {
    width: 100%;
    max-width: 70%;
    height: 88px;

    margin: 0 auto;
}

.cabecalho__logo {
    margin: 2em;
}

.cabecalho__navegacao {

    display: inline-block;
    text-align: center;
    color: var(--preto);
}

.cabecalho__lista {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;
    
}

.cabecalho__link {
    text-decoration: none;
    text-transform: none;
    color: var(--preto);
    margin: 5px;
    padding-left: 19px;

    position: relative;
}
