/* SEÇÃO DE EXPERIENCIA PROFISSIONAL/PROJETOS */
.experiencia {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experiencia__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 1886px;
    width: 1136px;

    gap: 32px;

}

.experiencia__section-titulo {

    font-size: 32px;
    font-weight: 700;
    align-items: center;

    color: var(--preto);
}

.experiencia__box {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 1136px;
    height: 406px;

}

.experiencia__box:nth-child(odd) {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    align-items: center;

}

/* CAPTURA DE PROJETO */

.experiencia__img {

    width: 772px;
    height: 426px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.experiencia__info {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 8px;
}

.experiencia__info:nth-child(odd) {
    flex-direction: column-reverse;
    justify-content: flex-end;

}



.experiencia__titulo {
    
    font-size: 22px;
    font-weight: 700;
    color: var(--preto);
}

.experiencia__texto {
    
    font-size: 16px;
    font-weight: 500;
    color: var(--preto);
}

.experiencia__descricao {

    display: flex;
    align-items: center;
    padding: 0px;
    gap: 16px;
    

}

.experiencia__descricao:nth-child(odd) {

    flex-direction: row-reverse;
    justify-content: flex-start;

}



.experiencia__botao--repo:hover {
    
    background-color: var(--azul);
    color: #fff;
    transform: scale(1.2);
}
.experiencia__botao--repo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    cursor: pointer;
    text-decoration: none;

    background-color: var(--branco-claro);
    color: var(--azul);
    border: 1px solid var(--azul); 
}



.experiencia__botao--demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    cursor: pointer;
    text-decoration: none;


    background-color: var(--azul);
    color: #fff;
    
}

.experiencia__botao--demo:hover {
    background-color: var(--branco-claro);
    border: 1px solid var(--azul);
    color: var(--azul);
    transform: scale(1.2);
}