.formacao {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--azul-claro);


    height: 581px;

    padding: 82px;

    

    gap: 32px;

}

.formacao__titulo {

    font-size: 32px;
    font-weight: 700;

    color: var(--preto);

}

.formacao__lista {

    height: 347px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    gap: 16px;
}

.formacao__experiencia {

    width: 368px;
    height: 347px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    
    gap: 30px;

}
.formacao__container {
    background-color: var(--branco-claro);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 286px;
    width: 368px;
    border-radius: 15px;
    
    padding: 16px;

}

.formacao__imagem {

    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;

}


.formacao__experiencia-titulo {

    
    font-size: 16px;
    font-weight: 700;
    line-height: .25px;
    color: var(--preto);
}

.formacao__experiencia-descricao {

    color: var(--preto);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width:) {
    
}