.skill {
    background-color: var(--branco);
    width: 100vw;
    height: 9%;

    padding: 3rem 6rem 3rem 6rem; 
    margin: 0 auto;

    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

    position: relative;
}

.skill__titulo {

    font-size: 32px;
    font-weight: 700;
    color: var(--preto);
}

.skill__lista {
    padding: 2rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-claro);

    gap: 16px;

    list-style: none;
}

.skill__item {
    width: 176px;
    height: 174px;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: var(--branco-claro);
    gap: 8px;
}

.hobbie {

    background-color: var(--branco);
    width: 100vw;
    height: 9%;

    padding: 3rem 6rem 3rem 6rem; 
    margin: 0 auto;

    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

    position: relative;
}

.hobbie__titulo {

    font-size: 32px;
    font-weight: 700;
    color: var(--preto);

    align-items: flex-start;
}

.hobbie__lista {
    padding: 2rem;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-claro);

    gap: 16px;

    list-style: none;
}

.hobbie__item {
    width: 176px;
    height: 174px;

    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: var(--branco-claro);
    gap: 8px;
}
