.skill {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.skill__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 32px;
}

.skill__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 32px;
    font-weight: 700;
    color: var(--preto);
}

.skill__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-claro);
    gap: 16px;
}

.skill__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 176px;
    height: 174px;
    padding: 16px;
    background: var(--branco-claro);
    gap: 8px;
    border-radius: 10px;
}

.hobbie__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 244px;
    gap: 32px;
}

.hobbie__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 32px;
    font-weight: 700;
    color: var(--preto);
}

.hobbie__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    color: var(--cinza-claro);
    gap: 16px;
}

.hobbie__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 176px;
    height: 174px;
    padding: 16px;
    background: var(--branco-claro);
    gap: 8px;
    border-radius: 10px;
}

@media (max-width: 780px) {
    .skill__container--container {
    width: 326px;
    height: 474px;
    }
    .skill__container {
    width: 324px;
    height: 118px;
    }
    .skill__item {
    width: 156px;
    height: 172px;
    }
}

/* MEDIA QUERIES */

@media (max-width:780px) {
    .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 768px;
        height: 702px;
    }
    .skill__container {
        width: 700px;
        height: 322px;
    }
    .skill__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 704px;
    }
    .skill__item {
        width: 224px;
        height: 118px;
    }
    .skill__titulo {
        font-size: 22px;
    }
    
    .hobbie__container {
        width: 700px;
        height: 322px;
    }
    .hobbie__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 704px;
    }
    .hobbie__item {
        width: 224px;
        height: 118px;
    }
    .hobbie__titulo {
        font-size: 22px;
    }
}

@media (max-width: 360px) {
    .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        height: 665px;
        padding: 1rem;
        }
        .skill__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 508px;
        
        }
        .skill__lista {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 330px;
        }
        .skill__item {
        width: 156px;
        height: 118px;
        }
        .skill__titulo {
            font-size: 22px;
        }
        .hobbie__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 360px;
            height: 508px;
            padding: 1rem;
        }
        .hobbie__lista {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 330px;
        }
        .hobbie__item {
            width: 156px;
            height: 118px;
        }
        .hobbie__titulo {
            font-size: 22px;
        }

}
