.sobre{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    
    height: 383px;
    
    color: var(--preto);
    background-color: var(--azul-claro);

}

.sobre__container {
    max-width: 1136px;
    height: 255px;
}


.sobre__titulo {

    font-size: 32px;
    font-weight: 700;

}

.sobre__descricao {

    font-size: 18px;
    font-weight: 400;
    line-height: 19px;

}

.sobre__lista {

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
    
}

.sobre__linkname {

    font-weight: 700;
    cursor: pointer;

}

.sobre__link:hover {

    color: var(--azul);

}
.sobre__link {

    color: var(--preto);
    text-decoration: none;
    padding-right: 1rem;

}

.sobre__assinatura {

    transform: rotate(350deg);
    width: 100px;
    height: 100px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}
